.DS_Store
node_modules/
/dist/
/docs/
/out/
/public/
/resources/
npm-debug.log
.idea
*.iml
/.vscode/settings.json
*.log
database.js
*.db
/app/config/config.*.ts
!/app/config/config.default.ts
!/app/config/config.unittest.ts
hugo
hugo.exe
*.lock
