const define = {
    timestamps: true,
    updatedAt: 'updated_at',
    createdAt: 'created_at',
}

module.exports = {
    development: {
        storage: './blog-dev.db',
        dialect: 'sqlite',
        define,
    },
    test: {
        storage: './blog-test.db',
        dialect: 'sqlite',
        define,
    },
    production: {
        storage: './blog-prod.db',
        dialect: 'sqlite',
        define,
    }
};
