{{ define "main_class"}}page-home{{ end}}
{{ define "main_content" }}
<div class="content-wrap">
    <div id="content" class="content">
<section id="posts" class="posts-expand">
  <article class="post post-type-normal " itemscope itemtype="http://schema.org/Article">
    <div class="post-block" style="opacity: 1; display: block;">
    <header class="post-header">
      <h1 class="post-title" itemprop="name headline">
        <a class="post-title-link" href="{{ .Permalink }}" itemprop="url">
        {{ .Title }}
        </a>
      </h1>
      <div class="post-meta">
      {{ partial "post/date.html" .}} 
      {{ partial "post/category.html" .}}
      {{ partial "post/readtimes.html" .}}
      </div>
    </header>
    <div class="post-body" itemprop="articleBody">
    {{ .Content }}
    </div>
    <div id="gitalk"></div>
    <footer class="post-footer">
     {{ partial "post/postauthor.html" .}}
     {{ partial "post/tags.html" .}}
     {{ partial "post/prenext.html" .}}
     <!-- {{ partial "widgets/weixin.html" .}} -->
     <!-- {{ partial "widgets/baidushare.html" .}} -->
     <!-- {{ partial "widgets/duoshuoshare.html" .}} -->
     <!-- {{ partial "widgets/comment.html" .}} -->
    </footer>
  </div>
  </article>
</section>
</div>
</div>
{{ end }}
