{{ define "main_class"}}{{ end}}

{{ define "main_content" }}
<div class="content-wrap">
    <div id="content" class="content">
        <div id="posts" class="posts-expand">
            <div class="post-block page" style="opacity: 1; display: block;">
                {{ if eq .Data.Plural  "categories" }}
                <div class="category-all-page">
                    <div class="category-all-title">
                        {{ i18n "StatsCats" . }}
                    </div>
                    <div class="category-all">
                        <ul class="category-list">
                            {{ range $name, $items := .Site.Taxonomies.categories }}
                            <li class="category-list-item">
                                <a class="category-list-link" href="/categories/{{ $name | urlize }}">{{ $name }}</a>
                                <span class="category-list-count"><sup>{{ len $items }}</sup></span>
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}

                {{ if eq .Data.Plural  "tags" }}
                <div class="tag-cloud">
                    <div class="tag-cloud-title">
                        {{ i18n "StatsTags" . }}
                    </div>
                    <div class="tag-cloud-tags">
                        {{ range $name, $items := .Site.Taxonomies.tags }}
                        <a href="/tags/{{ $name | urlize }}" style="font-size: 24.5px; color: #212121">{{ $name }}</a>
                        <span class="tag-list-count"><sup>{{ len $items }}</sup></span>
                        {{ end }}
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
{{ end }}
