{{ define "main_class"}}{{ end }}

{{ define "main_content" }}
<div class="content-wrap">
    <div id="content" class="content">
        <div class="post-block page" style="opacity: 1; display: block;">
<section id="posts" class="posts-collapse">
<div class="collection-title">
    <h2 >{{ .Title }}
    <small>{{ i18n "Tag"  }}</small>
    </h2>
</div>
{{ range (.Paginate (.Data.Pages.GroupByDate "2006") 15 ).PageGroups  }}
<div class="collection-title">
  <h2 class="archive-year motion-element" id="archive-year-{{ .Key }}">{{ .Key }}</h2>
</div>
{{ partial "post_simple_list.html" . }}
{{ end }}
 </section>
</div>
{{ partial "pagination.html" . }}
</div>
</div>
{{ end }}
