html
    width 100%
    height 100%
    margin 0
    padding 0
    font-size 16px
    color #212121
body
    width 100%
    height 100%
    margin 0
    padding 0
    // background #FAFAFA
    background #efefef
    font-family "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif
    // font-family Consolas, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei
*
    box-sizing border-box
    margin 0
    padding 0
a
    color #212121
    text-decoration none
a:hover
    text-decoration none
    color #212121

.passage-article
    h1,h2,h3,h4,h5,h6
        position relative
        font-weight 600
        margin 15px 0
        color rgb(44, 63, 81)
        a
            padding-left 5px
            transition all .15s linear
    // h1::before,h2::before,h3::before,h4::before,h5::before,h6::before
    //     font-size 0.8em
    //     content "\f0c1"
    //     color #F4511E
    //     font-family FontAwesome
    h1:hover a,h2:hover a,h3:hover a,h4:hover a,h5:hover a,h6:hover a
        padding-left 10px
    h1:hover::before,h2:hover::before,h3:hover::before,h4:hover::before,h5:hover::before,h6:hover::before
        color #2196F3
    h1
        font-size 2em
        margin 16px 0
    h2
        font-size 1.75em
    h3
        font-size 1.5em
    h4
        font-size 1.25em
    h5
        font-size 1.125em
    h6
        font-size 1em
    p
        margin 12px 0
    blockquote
        margin 15px 0
        padding 1px 12px
        border-left 3px solid #757575
        color #424242;
        background #F5F5F5
    a
        display inline-block
        position relative
        // color #F4511E
        color #1980e6
        font-weight bolder
    a::before
        content ""
        position absolute
        width 0
        right 0
        bottom 0
        height 2px
        background #2196F3
        transition all 0.3s ease

    a:hover
        color #0f4d8a
    a:hover::before
        width 100%
        left 0
        right auto
    code
        // background #EEEEEE
        color #c7254e !important
        // word-wrap break-word
        // margin 0 3px
    img
        display block
        margin 0 auto
        max-width 90%
        border-radius 5px
        cursor zoom-in
        transition all .3s linear
    img:hover
        box-shadow 0 0 3px #9E9E9E
    ul, ol
        margin-bottom 1.1em
        padding-left 2em
    ul, ol
        margin-top 0
        margin-bottom 10.5px
    // ol, ul
    //     margin 0 0 16px
    //     padding-left 1.2em
    // ol ol, ul ol
    //     list-style-type lower-roman
.passage-article > code
    padding 2px 4px
    font-family "Source Code Pro", Consolas, monospace, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei
    font-size .9em
    white-space normal
    color #c7254e
    background-color #f9f2f4
    border-radius 4px
.passage-article > table
    width 100%
    border-collapse collapse
    text-align left
    border-left 1px solid #EEEEEE
    border-right 1px solid #EEEEEE
    border-radius 4px 4px 0 0
    margin 16px 0
.passage-article > table thead
    background #F5F5F5
.passage-article > table thead th
    padding 16px
    border-bottom 1px solid #EEEEEE
.passage-article > table tbody tr
    transition all .3s ease
.passage-article > table tbody tr:hover
    background #E1F5FE
.passage-article > table tbody tr td
    padding 16px
    border-bottom 1px solid #EEEEEE
@media screen and (max-width: 768px)
    .gitment-editor-container
        padding-left 0
    .gitment-editor-avatar
        display none

.passage
    max-width 1048px
    margin 20px auto
    background #ffffff
    box-shadow 0 1px 2px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1)
    transition all .25s ease
    padding 32px 24px
    border-radius 12px
    &:hover
        box-shadow 0 2px 4px 0 rgba(0,0,0,.1),0 4px 8px 0 rgba(0,0,0,.1),0 8px 16px 0 rgba(0,0,0,.1),0 16px 32px 0 rgba(0,0,0,.1)
.passage-title
    font-size 36px
    line-height 42px
    margin 25px 0 40px
.passage-cover
    display block
    width 100%
    position relative
    padding-bottom 50%
    margin-bottom 40px
    figure
        position absolute
        left 0px
        top 0px
        right 0px
        bottom 0px
        overflow hidden
        border-radius 10px
        background-position 50% 50%
        background-size contain
        background-repeat no-repeat
        background-attachment fixed
.passage-article
    font-size 16px
    font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height 2
    letter-spacing 0.2px
    word-break break-word
    // pre
    //     background-color #2D2D2D
    //     box-shadow 0 1px 3px #e3e3e3
    pre
        // font-size 0.8em
        position relative
        code
            color inherit
        &.language-html:after
            content 'HTML'
        &.language-js:after
            content 'JS'
        &.language-javascript:after
            content 'JavaScript'
        &.language-typescript:after
            content 'TypeScript'
        &.language-json:after
            content 'JSON'
        &.language-css:after
            content 'CSS'
        &.language-bash:after
            content 'Shell'
        &.language-yaml:after
            content 'Yaml'
        &.language-yml:after
            content 'Yaml'
        &.language-python:after
            content 'Python'
        &.language-c:after
            content 'C'
        &.language-c\+\+:after
            content 'CPP'
        &.language-cpp:after
            content 'CPP'
        &.language-text:after
            content 'Text'
        &.language:after
            content 'Text'
        &.language-go:after
            content 'Go'
        &.language-shell:after
            content 'Shell'
        &:after
            position: absolute
            top 0
            right 0
            // color #ccc
            // color #c7254e
            color #268bd2
            text-align right
            font-size 1em
            padding 5px 10px 0
            line-height 15px
            height 15px
            font-weight 600
.passage-copyright
        border-left 3px solid #FF5722
        background #EEEEEE
        padding 15px 20px
        margin-top 30px
    div
        line-height 2
    a
      transition all .1s linear
    a:hover
        color #F4511E

@media screen and (max-width: 768px)
    .passage-cover
        display none
    .passage
        padding 24px 16px
        margin 16px auto
        border-radius 5px
// passage
.passage-title
    font-size 36px
    line-height 42px
    margin 25px 0 40px

// bottom
.bottom
    display flex
    justify-content space-between
    position fixed
    bottom 0
    left 0
    width 100%
    height 50px
    background #F5F5F5
    overflow auto
    z-index 300
    a.disable
        color #90CAF9
        cursor not-allowed
    a
        display inline-block
        width 40px
        height 40px
        line-height 40px
        text-align center
        transition all .15s linear
        color #42A5F5
    a:hover
        border-radius 50%
        color white
        background #42A5F5
    a.disable:hover
        background #90CAF9
.bottom-left, .bottom-right
    display inline-flex
    align-items center

// footer
.footer-wrapper
    background #455A64
    margin-bottom 50px
    word-break break-all
.footer
    display flex
    flex-wrap wrap
    padding 30px 0
    max-width 1024px
    margin 0 auto
    font-size 15px
    a
        color #EEEEEE
        transition all .15s linear
    a:hover
        color white
.footer-col
    display flex
    flex-direction column
    padding-bottom 30px
    width 33.33333%
    h5
        margin-bottom 15px
        font-size 1.1em
        color #CFD8DC
    span
        display inline-block
        margin-bottom 10px
        font-weight bold
.footer-info:not(:last-child)
    margin-bottom 5px
.footer-info
    width 100%
    color #CFD8DC

@media screen and (max-width: 768px)
    .footer
        padding 30px 20px 30px
    .footer-col
        width 50%
@media screen and (min-width: 769px) and (max-width: 1024px)
    .footer
        padding 30px 50px 30px
// header
.header
    display flex
    justify-content space-between
    position fixed
    top 0
    left 0
    width 100%
    height 60px
    border-bottom #FAFAFA solid 2px
    padding-left 10px
    background #FAFAFA
    z-index 300
    box-shadow 0 1px 2px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1)
    // border-bottom transparent solid 2px
    // box-shadow 0 2px 2px #eee
.header-left, .header-right
    display flex
    align-items center
.header-left
    display: flex;
    align-items: center;
.header-left-title
    font-weight: bold;
    font-size: 24px;
.header-left-motto
    display inline-block
    margin-left 5px
    font-size 14px
    color #616161
.header-right
    justify-content flex-end
.header-navigation
    font-size 16px
    padding-left 10px
    display flex
    overflow auto
    a
        margin-right 15px
        color #9E9E9E
        display block
        transition all .3s linear
    a:hover
        color #616161
.header-btn
    font-size 18px
    display flex
    justify-content flex-end
    a
        display inline-block
        text-align center
        height 58px
        line-height 58px
        cursor pointer
        i
            padding 0 20px 0 10px
            color #616161;
@media screen and (min-width: 769px)
    .header-btn a
        width 58px

    .header-btn-more
        display none !important

    .header-btn-github
        background #4FC3F7
    .header-btn-search
        background #03A9F4

    .header-btn a i
        color white
@media screen and (max-width: 768px)
    .header-btn-github
        display none !important
    .header-btn a i
        padding 0 20px 0 10px
        color #616161
    .header-navigation
        display none
    .header-left-title
        font-size 22px
@media screen and (max-width 400px)
    .header-left-motto
        display none

// list
.home-article
    position relative
    height 100%
    width 100%
    z-index 1
    padding-right 0
.home-article-has-cover
    padding-right 50%
.home-article-inner
    transition all .3s ease
    background white
    width 100%
    padding 60px 60px 40px
    border-radius 10px
.home-article-inner-has-cover
    border-top-right-radius 0
    border-bottom-right-radius 0
.home-article-inner-has-cover:hover
    z-index 100
    padding-left 80px
    width calc(100% + 20px)
.home-article-content
    margin-top 10px
    font-size 16px
.passage-article
    font-size 16px
    font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height 2
    letter-spacing 0.2px
    word-break break-word
.home-article-title
    font-size 26px
    line-height 42px
    margin 20px 0 25px
.home-article-read
    display inline-block
    margin-top 15px
    margin-left 0
    color #9E9E9E
    font-weight 600
    font-size 18px
    font-style italic
    transition all .1s linear
.passage-tags
    display flex
    flex-wrap wrap
    align-items center
    margin-top 20px
    padding-top 20px
    font-size 15px
    border-top 1px solid #EEEEEE
    a
        display inline-flex
        margin 0 15px 15px 0
        align-items center
        height 30px
        padding 5px 10px
        background #EEEEEE
        border 1px solid #EEEEEE
        border-radius 3px
        transition all .15s linear
.home-article-cover
    position absolute
    top 0
    right 0
    width 50%
    height 100%
    transition all .3s ease
    z-index -1
.home-article-cover:hover
    z-index 100
    width calc(50% + 30px)
.home-article-read
    display inline-block
    margin-top 15px
    margin-left 0
    color #9E9E9E
    font-weight 600
    font-size 18px
    font-style italic
    transition all .1s linear
.home-article-read:hover
    color #616161
    margin-left 10px
.home-article-wrapper
    display block
    min-height 330px
    margin 30px 0
    border-radius 10px
    transition all .25s ease
    box-shadow 0 1px 2px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1)
    &:hover
        box-shadow 0 2px 4px 0 rgba(0,0,0,.1),0 4px 8px 0 rgba(0,0,0,.1),0 8px 16px 0 rgba(0,0,0,.1),0 16px 32px 0 rgba(0,0,0,.1)

@media screen and (max-width: 768px)
    .home-article-inner-has-cover
        border-radius 10px

    .home-article-inner
        padding 20px 15px

    .home-article-wrapper
        margin 16px 0
@media screen and (min-width: 1025px)
    .home-article-inner-has-cover
        z-index 100
        padding-left 80px
        width calc(100% + 20px)

@media screen and (max-width: 1024px)
    .home-article-has-cover
        padding 0
    .home-article-cover
        display none

// nav
.nav-content
    z-index 900
    right -200px
    width 200px
    display block
    position fixed
    top 0
    height 100vh
    background #F5F5F5
    overflow-y auto
    z-index 900
    transition right .3s ease
.nav-content-show
    right 0
.nav-content-title
    position relative
    display flex
    align-items center
    justify-content center
    height 60px
    border-bottom 2px dotted #42A5F5
    span
        display inline-block
        background #03A9F4
        color white
        margin 0 auto
        padding 0 15px
        height 30px
        line-height 30px
        transition all .3s ease
    span:hover
        background #29B6F6
        cursor pointer
.nav-content-main
    max-height calc(100% - 60px)
    overflow auto
    padding 20px 0 20px 0
    font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
.nav-content-toc, .nav-content-toc-item
    list-style none
.nav-content-toc-item
    text-align center
    line-height 35px
    a
        border-left 0
        color #757575
        padding-left 0
        border-left 2px solid transparent
        display inline-block
        width 100%
        transition padding-left .3s ease, background .3s ease, border-left-color .1s linear
    a:hover
        color #03A9F4
        background #E1F5FE
.share-btn
    display flex
    flex-direction column
    position fixed
    left 0
    top 50%
    transform translateY(-50%)
    z-index 300
    a
        display inline-block
        cursor pointer
        width 40px
        height 40px
        line-height 40px
        text-align center
        color white
        margin-bottom 10px
        border-top-right-radius 3px
        border-bottom-right-radius 3px
        transition all .3s
    a:hover
        padding-left 8px
        width 48px
// share
.share-btn-qq
    background #1E88E5
.share-btn-qq:hover
    background #42A5F5
.share-btn-wechat
    background #4CAF50
.share-btn-wechat:hover
    background #81C784
.share-btn-twitter
    background #03A9F4
.share-btn-twitter:hover
    background #4FC3F7
.share-btn-facebook
    background #5C6BC0
.share-btn-facebook:hover
    background #7986CB
.share-btn-weibo
    background: #EF5350
.share-btn-weibo:hover
    background: #E57373
@media screen and (max-width: 768px)
    .share-btn
        display none

// main
.main
    display block
    margin 0 auto
    padding-top 60px
    min-height calc(100vh - 50px)
    max-width 1024px

@media screen and (max-width: 768px)
    .main
        margin 0
@media screen and (min-width: 769px) and (max-width: 1024px)
    .main
        margin 0 50px

// layer
.layer
    display block
    z-index 600
    position fixed
    left 0
    right 0
    top 0
    bottom 0
    background-color rgba(0, 0, 0, 0.8)
.layer-hide
    display none

// meta

.passage-meta
    font-size 16px
    color #616161
    i
        display inline-block
        margin-right 5px
// process
.process
    position fixed
    left 0
    height 2px
    background #42A5F5
    z-index 300

// progress loading
.progress
    position fixed
    top 0px
    left 0px
    rigth 0px
    height 2px
    width 0%
    transition width 0.2s, opacity 0.4s
    opacity 1
    background-color #efc14e
    z-index 999999
