html
    width 100%
    height 100%
    margin 0
    padding 0
    font-size 16px
    color #212121
body
    width 100%
    height 100%
    margin 0
    padding 0
    // background #FAFAFA
    background #efefef
    font-family "Helvetica Neue", Arial, "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, Song, sans-serif
    // font-family Consolas, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei
*
    box-sizing border-box
    margin 0
    padding 0
a
    color #212121
    text-decoration none
a:hover
    text-decoration none
    color #212121

.passage-article
    h1,h2,h3,h4,h5,h6
        position relative
        font-weight 600
        margin 15px 0
        color rgb(44, 63, 81)
        a
            padding-left 5px
            transition all .15s linear
    // h1::before,h2::before,h3::before,h4::before,h5::before,h6::before
    //     font-size 0.8em
    //     content "\f0c1"
    //     color #F4511E
    //     font-family FontAwesome
    h1:hover a,h2:hover a,h3:hover a,h4:hover a,h5:hover a,h6:hover a
        padding-left 10px
    h1:hover::before,h2:hover::before,h3:hover::before,h4:hover::before,h5:hover::before,h6:hover::before
        color #2196F3
    h1
        font-size 2em
        margin 16px 0
    h2
        font-size 1.75em
    h3
        font-size 1.5em
    h4
        font-size 1.25em
    h5
        font-size 1.125em
    h6
        font-size 1em
    p
        margin 12px 0
    blockquote
        margin 15px 0
        padding 1px 12px
        border-left 3px solid #757575
        color #424242;
        background #F5F5F5
    a
        display inline-block
        position relative
        // color #F4511E
        color #1980e6
        font-weight bolder
    a::before
        content ""
        position absolute
        width 0
        right 0
        bottom 0
        height 2px
        background #2196F3
        transition all 0.3s ease

    a:hover
        color #0f4d8a
    a:hover::before
        width 100%
        left 0
        right auto
    code
        // background #EEEEEE
        color #c7254e !important
        // word-wrap break-word
        // margin 0 3px
    img
        display block
        margin 0 auto
        max-width 90%
        border-radius 5px
        cursor zoom-in
        transition all .3s linear
    img:hover
        box-shadow 0 0 3px #9E9E9E
    ul, ol
        margin-bottom 1.1em
        padding-left 2em
    ul, ol
        margin-top 0
        margin-bottom 10.5px
    // ol, ul
    //     margin 0 0 16px
    //     padding-left 1.2em
    // ol ol, ul ol
    //     list-style-type lower-roman
.passage-article > code
    padding 2px 4px
    font-family "Source Code Pro", Consolas, monospace, Microsoft Jhenghei, Hiragino Sans GB, Microsoft YaHei
    font-size .9em
    white-space normal
    color #c7254e
    background-color #f9f2f4
    border-radius 4px
.passage-article > table
    width 100%
    border-collapse collapse
    text-align left
    border-left 1px solid #EEEEEE
    border-right 1px solid #EEEEEE
    border-radius 4px 4px 0 0
    margin 16px 0
.passage-article > table thead
    background #F5F5F5
.passage-article > table thead th
    padding 16px
    border-bottom 1px solid #EEEEEE
.passage-article > table tbody tr
    transition all .3s ease
.passage-article > table tbody tr:hover
    background #E1F5FE
.passage-article > table tbody tr td
    padding 16px
    border-bottom 1px solid #EEEEEE
@media screen and (max-width: 768px)
    .gitment-editor-container
        padding-left 0
    .gitment-editor-avatar
        display none

.passage
    max-width 1048px
    margin 20px auto
    background #ffffff
    box-shadow 0 1px 2px 0 rgba(0,0,0,.1),0 2px 4px 0 rgba(0,0,0,.1)
    transition all .25s ease
    padding 32px 24px
    border-radius 12px
    &:hover
        box-shadow 0 2px 4px 0 rgba(0,0,0,.1),0 4px 8px 0 rgba(0,0,0,.1),0 8px 16px 0 rgba(0,0,0,.1),0 16px 32px 0 rgba(0,0,0,.1)
.passage-title
    font-size 36px
    line-height 42px
    margin 25px 0 40px
.passage-cover
    display block
    width 100%
    position relative
    padding-bottom 50%
    margin-bottom 40px
    figure
        position absolute
        left 0px
        top 0px
        right 0px
        bottom 0px
        overflow hidden
        border-radius 10px
        background-position 50% 50%
        background-size contain
        background-repeat no-repeat
        background-attachment fixed
.passage-article
    font-size 16px
    font-family -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    line-height 2
    letter-spacing 0.2px
    word-break break-word
    // pre
    //     background-color #2D2D2D
    //     box-shadow 0 1px 3px #e3e3e3
    pre
        // font-size 0.8em
        position relative
        code
            color inherit
        &.language-html:after
            content 'HTML'
        &.language-js:after
            content 'JS'
        &.language-javascript:after
            content 'JavaScript'
        &.language-typescript:after
            content 'TypeScript'
        &.language-json:after
            content 'JSON'
        &.language-css:after
            content 'CSS'
        &.language-bash:after
            content 'Shell'
        &.language-yaml:after
            content 'Yaml'
        &.language-yml:after
            content 'Yaml'
        &.language-python:after
            content 'Python'
        &.language-c:after
            content 'C'
        &.language-c\+\+:after
            content 'CPP'
        &.language-cpp:after
            content 'CPP'
        &.language-text:after
            content 'Text'
        &.language:after
            content 'Text'
        &.language-go:after
            content 'Go'
        &.language-shell:after
            content 'Shell'
        &:after
            position: absolute
            top 0
            right 0
            // color #ccc
            // color #c7254e
            color #268bd2
            text-align right
            font-size 1em
            padding 5px 10px 0
            line-height 15px
            height 15px
            font-weight 600
.passage-copyright
        border-left 3px solid #FF5722
        background #EEEEEE
        padding 15px 20px
        margin-top 30px
    div
        line-height 2
    a
      transition all .1s linear
    a:hover
        color #F4511E

@media screen and (max-width: 768px)
    .passage-cover
        display none
    .passage
        padding 24px 16px
        margin 16px auto
        border-radius 5px
