// copy to https://github.com/docsifyjs/docsify/blob/develop/src/themes/vue.styl
// 导入谷歌字体
@import url('https://fonts.loli.net/css?family=Roboto+Mono|Source+Sans+Pro:300,400,600');

// 链接颜色
$color-primary = #42b983
// 代码字体
$code-font-family = 'Roboto Mono', Monaco, courier, monospace
// 代码背景色
$code-bg-color = #f8f8f8
// 行内代码字体颜色
$code-line-color = #e96900
// 代码字体颜色
$code-color = #525252

// 标题颜色
$title-color = #2c3e50
// 小标题颜色
$small-title-color = #777

// blockquote 字体颜色
$bq-color = #858585

// em 字体颜色
$em-color = #7f8c8d

/* markdown content found on pages */
.markdown-section
    h1, h2, h3, h4, h5, h6
        border-bottom 1px solid #d3d3d3
        .header-text
            transition all .1s ease

        &:hover, &:focus, &:active
            position relative
            .header-text
                margin-left 1.2rem
                display inline-block
            .anchor::after
                content '#'
                position absolute
                left 0
                text-align left
                top 0

    h1, h2, h3, h4, strong
        color $title-color
        font-weight 600
    a
        color var(--theme-color, $color-primary)
        font-weight 600

    h1
        font-size 2rem
        margin 0 0 1rem

    h2
        font-size 1.75rem
        margin 45px 0 0.8rem

    h3
        font-size 1.5rem
        margin 40px 0 0.6rem

    h4
        font-size 1.25rem

    h5
        font-size 1rem

    h6
        color $small-title-color
        font-size 1rem

    figure, p
        margin 1.2em 0

    p, ul, ol
        line-height 1.6rem
        word-spacing 0.05rem

    ul, ol
        padding-left 1.5rem

    blockquote
        border-left 4px solid var(--theme-color, $color-primary)
        color $bq-color
        margin 2em 0
        padding-left 20px

    blockquote p
        font-weight 600
        margin-left 0

    iframe
        margin 1em 0

    em
        color $em-color

    code, pre, pre > code
        background-color $code-bg-color
        font-family $code-font-family
        &::selection
            color #586e75
            background-color rgba(238, 232, 213, .8) !important
        ::selection
            color #586e75
            background-color rgba(238, 232, 213, .8) !important
    code
        border-radius 2px
        color $code-line-color
        font-size 0.8rem
        margin 0 2px
        padding 3px 5px
        white-space pre-wrap

    pre, pre > code
        font-smoothing initial

    pre
        line-height 1.5rem
        margin 1.2em 0
        overflow-x auto
        height 100%
        padding 0 .8rem 0 .3rem
        position relative
        word-wrap normal

    pre > code
        border-radius 2px
        color $code-color
        display block
        font-size 1rem
        line-height inherit
        margin 0 2px
        width 100%
        // overflow inherit
        padding .8em 5px
        white-space pre-wrap

    code::after, code::before
        letter-spacing 0.05rem

    code .token
        font-smoothing initial
        min-height 1.5rem

    pre::after
        color #ccc
        content attr(data-lang)
        font-size 0.6rem
        font-weight 600
        height 15px
        line-height 15px
        padding 0 5px 0
        position absolute
        right 0
        text-align right
        top 0
    img
        max-width 100%
